*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}
body{
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #ccc;
    min-height: 100vh;
}
.card{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 350px;
    width: 600px;
    border-radius: 20%;
    background-color: #ccc;
    transition: 0.5s;
}
.card .circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
}
.card .circle::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: red;
    clip-path: circle(120px at center);
    transition: 0.5s;
}
.card:hover .circle:before{
    background-color: navy;
    clip-path: circle(400px at center);
}
.card img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 250px;
    pointer-events: none;
    transition: 0.5s;
    border-radius: 5%;
}
.card:hover img{
    left: 73%;
    height: 400px;
    width: 250px;
}
.card .content{
    position: relative;
    width: 50%;
    left: 20%;
    opacity: 0;
    visibility: hidden;
    padding: 10px 20px 20px 40px;
    transition: 0.5s;
}
.card:hover .content{
    left: 0;
    opacity: 1;
    visibility: visible;
}
.card .content h2{
    color: white;
    text-transform: uppercase;
    font-size: 3em;
    line-height: 1em;
}
.card .content a{
    position: relative;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    background: white;
    color: black;
    margin-top: 10px;
    text-decoration: none;
    display: inline-block;
}